@media (min-width: 1600px){
    body {
        height: 100vh;
    }

    .services {
        padding: 50px 50px;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        gap: 15px;
    }

}

@media (max-width: 1000px){
    .services {
        padding: 50px 50px;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 800px){
/*Header*/
.logo{
    width: 180px;
}

header {
    padding: 20px 40px;
}

nav il a{
    display: inline;
    margin: 0 0 0 5px;
    font-size: 15px;
    line-height: 28px;
}

/*Home*/
.missao {
    font-size: 1.5rem;
}

.equipe-img {
    width: 30%;
    margin-right: 10px;
}

.text {
    font-size: 21px;
    line-height: 21px;
    text-align: justify;
    max-width: 100%;
}

.pessoa__imagem {
    height: 130px;
    width: 130px;
}

.pessoa__nome {
    font-size: 25px; 
}
.pessoa__funcao {
    font-size: 18px; 
    text-align: center;
}

.video {
    max-width: 80%;
}

.contact {
    text-align: center;
    padding: 20px;
}

.links-contact {
    align-items: center;
}

.footnote-text {
    font-size: 13px;
}
}

@media (max-width: 720px){
    header {
        display: flex;
        align-items: center;
        padding: 20px 40px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav il{
        text-align: center;
    }

    .text {
        font-size: 18px;
    }

    .equipe-img {
        max-width: 100%;
        margin-right: 0px;
    }
    
    .dap-content {
        clear: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;
    }

    .dap-content-text {
        text-align:  center;
    }
    
    .text {
        margin: 0;
        align-self: center;
    }

    .subtitle {
        font-size: 24px;
        margin-top: 10px;
    }

}

@media (max-width: 640px){
    .logo {
        max-width: 80% ;
        margin-right: 30px;
    }

    .missao{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 15px;
    }

    .missao strong {
        margin-bottom: 10px;
    }

    .quem-somos {
        padding: 0 10px;
    }

    .quem-somos-descricao {
        font-size: 25px;
    }

    .pessoa__imagem {
        max-height: 100px;
        max-width: 100px;
    }

    .pessoa__nome {
        font-size: 25px;
    }

    .services {
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 300px;
    }
    .galery-container {
        max-width: 380px;
    }

    .galery-image {
        width: 14.1%;
    }

    .label-field {
        font-size: 15px;
    }
    .budget-box {
        width: 330px;
    }

    .headline{
        flex-direction: column;
        gap: 5px;
    }

    .title-headline{
        font-size: 23px;
    }
}


@media (max-width:500px){
    nav {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .text {
        font-size: 17px;
    }

}