a {
  text-decoration: none;
}
body {
  font-family: 'Quicksand', sans-serif;
}

header{
    font-weight: 1000;
    background: #2dafb811;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
}

  nav il{
      display: inline;
      margin: 0 0 0 15px;
  }

  nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: 2ms;
  }

  nav a:hover{
    color: #2dafb8;
    color: rgba(0 0 0 0.5);
    text-decoration:dotted;
    text-shadow: 1px 1px #73f5f5;
    text-decoration: underline;
  }

  /*Menu Mobile*/
  .menu-mobile {
    display: none;
  }

  .button-mobile-open {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    background-image: url(./assets/icon/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }


  .button-mobile-close {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url(./assets/icon/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    align-self: flex-end
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    background-color: #a1eaecea;
    height: 100vh;
    width: 70%;
    padding: 30px ;
    box-sizing: border-box;

    position: fixed;
    right: -100vw;
    transition: 0.25s;
  }

  .nav-mobile--ativo {
    align-self: flex-end;
    top: 0;
    right: 0;
    transition: 0.25s;
  }

  .menu-mobile__items {
    display: flex;
    gap: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    color: #2dafb8;
    font-weight: 700;
  }

  .menu-mobile__items--home::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./assets/icon/home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .menu-mobile__items--services::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./assets/icon/services.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .menu-mobile__items--budget::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./assets/icon/budget.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .menu-mobile__items--contact::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./assets/icon/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

/* Home */
.home-container, .services-container, .budget-container {
  background: linear-gradient(180deg, #FFFFFF, #fefefe, #91b1b6);
}

.banner{
    width: 100%;
    }

.missao {
  font-size: 32px;
  font-weight: 500;
  background-color: #117379;
  color: #FEFEFE;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: 20px 0 20px 0;
  
}

.dap-content {
  clear: left;
  display: flex;
  align-items: center;
  padding: 0 50px;

}

.equipe-img {
  width: 340px;
  margin-right: 40px;
  float: left;
}

.subtitle {
  font-size: 27px;
  color: #117379;
  margin-bottom: 20px;
  font-weight: bold;
}

.text {
  font-size: 22px;
  line-height: 35px;
  text-align: justify;
  max-width: 92%;
}

.quem-somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quem-somos__titulo, .budget-title {
  font-family: 'Handlee', cursive;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  color: #117379;
  padding-top: 3rem;
}

.quem-somos__descricao {
  font-weight: 100;
  font-size: 1.5rem;
  color: #595959;
  text-align: center;
}

.pessoas  {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  width: 100%;
}

.pessoa {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pessoa__imagem {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.pessoa__imagem--allyne {
  background-image: url("./assets/allyne.jpeg");
}

.pessoa__imagem--danielle {
  background-image: url("./assets/danielle.jpeg");
}

.pessoa__imagem--priscilla {
  background-image: url("./assets/priscilla.jpeg");
}

.pessoa__nome, .title-contact {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #055155fb;
  margin: 20px 0;
}

.pessoa__funcao {
  font-weight: 100;
  font-size: 24px;
  color: #5b818d;
}

.video-info {
  padding: 70px 0 30px;
  clear: left;
  display: flex;
}

  .video{
    width: 560px;
    margin: 0 auto ;
}

/* Serviços */

.services {
  /* height: 100vh; */
  padding: 50px 50px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: space-evenly;

}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dotted #9c9797;
  border-radius: 10px;
  background-color: #FEFEFE;
  padding: 10px 15px;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 250px;
}

.service:hover {
  border: 3px solid #055155fb;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 10px #2dafb84e;
}

.service-img {
  width: 150px;
}

.services-title {
  font-size: 25px;
  font-weight: 700;
  color: #055155fb;
  margin-top: 10px;
  text-align: center;
}

.services-details {
  max-width: 300px;
  font-size: 13px;
  font-weight: 500;
  list-style-type: disc;
  list-style: inside;
  margin-top: 10px;
  text-align: justify;
}

.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.title-headline {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: 2px;
  color: #096e74;
}

.orcamento-seta{
  text-decoration: none;
}

.animacao-seta {
  width: 25px;
  filter: drop-shadow(0 0 5px rgb(134, 249, 253));
  animation: seta 1s infinite linear forwards;
}

.animacao-seta-1 {
  animation-delay: 0.03s;
}
.animacao-seta-1 {
  animation-delay: 0.06s;
}
.animacao-seta-1 {
  animation-delay: 0.09s;
}

@keyframes seta {
  from {
    transform: scale(0.1) translateX(-5px);
  }
  to {
    transform: scale(1) translateX(100%);
  }
  
}

.galery-container {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px #8fe1e771;
}

.galery-container__images {
  width: 700%;
  animation: galery 30s infinite;
}

.galery-image {
  width: 14.15%;

}

@keyframes galery {
  0%{
    margin-left: 0;
  }
  15%{
    margin-left: 0;
  }
  18.3%{
    margin-left: -100%;
  }
  33.3%{
    margin-left: -100%;
  }
  36.6%{
    margin-left: -200%;
  }
  51.6%{
    margin-left: -200%;
  }
  54.9%{
    margin-left: -300%;
  }
  69.9%{
    margin-left: -300%;
  }
  73.2%{
    margin-left: -400%;
  }
  88.2%{
    margin-left: -400%;
  }
  91.5%{
    margin-left: -500%;
  }
  100%{
    margin-left: -600%;
  }

}

/*Formulário de orçamento*/
.budget-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 500px;

}

.label-field {
  font-size: 18px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.label-field-title {
  font-weight: bold;
  color: #117379;
}

.input-field {
  width: 100%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color: #f0f0f06e;
  border: 1px solid gray;
  border-radius: 5px;
}

.animal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.system-box {
  width: 100%;
}

.system {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.radio-system {
  margin-top: 15px;
}

.msg-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.msg-field {
  height: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  padding: 5px;
  background-color: #f0f0f06e;
  border: 1px solid gray;
  border-radius: 5px;
}

.send {
  margin-top: 30px;
  padding: 15px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #117379;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  transition: 200ms;
}

.send a{
  color: #FFFFFF;
  text-decoration: none;
}

.send:hover {
  background-color: #14848a;
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #59595984;
  transform: scale(1.02);
}

/* Contatos */
.contact {
  padding: 50px;
}

.links-contact {
  display: flex;
  flex-direction: column;
}

.link-contact {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #117379;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10PX;

}

.link-contact img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Rodapé */
.footnote {
  padding: 30px 0;
  background: linear-gradient(180deg, #91b1b6, #4c6569);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footnote-img {
  width: 150px;
  margin: 25px auto 15px;
}

.footnote-text {
  color: #FEFEFE;
  font-size: 15px;
  text-align: center;
}